.wrapper {
	height: 100vh;
	background: radial-gradient(ellipse at bottom, #351b1b 0%, #090a0f 100%);
	overflow: hidden;
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1456px 294px #fff, 175px 774px #fff, 805px 50px #fff,
		1902px 699px #fff, 1119px 1053px #fff, 74px 22px #fff, 735px 694px #fff,
		1045px 960px #fff, 424px 971px #fff, 1844px 1465px #fff, 1934px 1654px #fff,
		41px 354px #fff, 274px 1988px #fff, 1054px 145px #fff, 208px 40px #fff,
		917px 1951px #fff, 1211px 135px #fff, 848px 1015px #fff, 1924px 606px #fff,
		1832px 956px #fff, 1365px 395px #fff, 536px 292px #fff, 1454px 899px #fff,
		1606px 990px #fff, 847px 1312px #fff, 512px 587px #fff, 1503px 291px #fff,
		1641px 728px #fff, 1159px 1633px #fff, 1585px 752px #fff, 1655px 396px #fff,
		1592px 1051px #fff, 200px 1195px #fff, 285px 803px #fff, 952px 51px #fff,
		640px 972px #fff, 1229px 311px #fff, 901px 1381px #fff, 1877px 462px #fff,
		1975px 258px #fff, 421px 367px #fff, 840px 740px #fff, 1320px 1042px #fff,
		1363px 1748px #fff, 1421px 1025px #fff, 1935px 1419px #fff,
		1071px 505px #fff, 1996px 1654px #fff, 104px 1495px #fff, 1654px 1696px #fff,
		781px 226px #fff, 1914px 1026px #fff, 1885px 1385px #fff, 1084px 1528px #fff,
		654px 959px #fff, 1764px 1324px #fff, 579px 19px #fff, 1680px 1171px #fff,
		922px 892px #fff, 1184px 1707px #fff, 1576px 1055px #fff, 849px 977px #fff,
		1177px 243px #fff, 845px 1090px #fff, 976px 1048px #fff, 1762px 1752px #fff,
		1489px 689px #fff, 670px 1283px #fff, 1886px 197px #fff, 564px 859px #fff,
		601px 1409px #fff, 1892px 375px #fff, 465px 1821px #fff, 1270px 770px #fff,
		541px 1907px #fff, 688px 1221px #fff, 1080px 550px #fff, 1870px 602px #fff,
		191px 690px #fff, 539px 687px #fff, 252px 1973px #fff, 1085px 681px #fff,
		1395px 1177px #fff, 1254px 514px #fff, 17px 1697px #fff, 195px 1297px #fff,
		1260px 1445px #fff, 309px 1517px #fff, 1318px 1494px #fff,
		1527px 1838px #fff, 1279px 562px #fff, 915px 1860px #fff, 1337px 1083px #fff,
		507px 979px #fff, 734px 217px #fff, 338px 683px #fff, 979px 460px #fff,
		1842px 1280px #fff, 1880px 1575px #fff, 864px 1087px #fff,
		1453px 1810px #fff, 720px 1072px #fff, 1286px 1638px #fff, 1821px 920px #fff,
		758px 234px #fff, 69px 1327px #fff, 1407px 1388px #fff, 1943px 1697px #fff,
		416px 29px #fff, 1755px 1500px #fff, 1274px 72px #fff, 1497px 622px #fff,
		293px 1295px #fff, 1279px 1472px #fff, 1790px 1601px #fff, 292px 379px #fff,
		1194px 214px #fff, 1795px 1130px #fff, 1833px 85px #fff, 710px 1031px #fff,
		1273px 504px #fff, 1327px 1469px #fff, 1728px 1722px #fff, 574px 547px #fff,
		1576px 259px #fff, 1414px 1177px #fff, 1846px 1094px #fff, 560px 203px #fff,
		1783px 1796px #fff, 914px 1489px #fff, 465px 1612px #fff, 714px 402px #fff,
		962px 1625px #fff, 1363px 840px #fff, 682px 1752px #fff, 1711px 496px #fff,
		149px 516px #fff, 939px 1661px #fff, 1212px 1874px #fff, 1211px 345px #fff,
		1912px 347px #fff, 172px 1295px #fff, 1379px 554px #fff, 407px 1134px #fff,
		1685px 744px #fff, 154px 1000px #fff, 981px 621px #fff, 1855px 574px #fff,
		1445px 1572px #fff, 451px 1839px #fff, 1306px 1463px #fff, 980px 1560px #fff,
		1955px 1940px #fff, 21px 172px #fff, 718px 1885px #fff, 1506px 295px #fff,
		1007px 305px #fff, 658px 1666px #fff, 395px 841px #fff, 967px 468px #fff,
		281px 970px #fff, 1024px 428px #fff, 471px 55px #fff, 532px 28px #fff,
		146px 641px #fff, 1076px 1517px #fff, 1754px 958px #fff, 1631px 1441px #fff,
		878px 743px #fff, 1637px 719px #fff, 1576px 212px #fff, 1908px 552px #fff,
		1498px 855px #fff, 1296px 172px #fff, 202px 878px #fff, 1910px 437px #fff,
		1863px 1076px #fff, 838px 1534px #fff, 656px 1355px #fff, 1568px 1480px #fff,
		991px 749px #fff, 199px 853px #fff, 748px 1378px #fff, 1771px 1218px #fff,
		559px 139px #fff, 526px 1965px #fff, 8px 214px #fff, 1668px 1593px #fff,
		1839px 691px #fff, 325px 1756px #fff, 453px 363px #fff, 1561px 779px #fff,
		1684px 1827px #fff, 221px 557px #fff, 1781px 1055px #fff, 718px 396px #fff,
		965px 1915px #fff, 3px 1630px #fff, 1359px 1449px #fff, 1241px 409px #fff,
		1147px 1459px #fff, 116px 481px #fff, 622px 1774px #fff, 1899px 311px #fff,
		707px 1507px #fff, 626px 875px #fff, 1930px 1705px #fff, 189px 221px #fff,
		61px 1261px #fff, 646px 1900px #fff, 1255px 910px #fff, 1555px 1970px #fff,
		494px 1688px #fff, 19px 1916px #fff, 1219px 1221px #fff, 722px 641px #fff,
		1873px 441px #fff, 1459px 836px #fff, 235px 869px #fff, 1287px 846px #fff,
		492px 1920px #fff, 381px 4px #fff, 1509px 1671px #fff, 591px 1646px #fff,
		653px 1612px #fff, 198px 812px #fff, 1648px 113px #fff, 770px 1812px #fff,
		1736px 338px #fff, 811px 1720px #fff, 805px 127px #fff, 750px 926px #fff,
		1341px 111px #fff, 1238px 957px #fff, 1471px 1906px #fff, 1816px 1484px #fff,
		1366px 1251px #fff, 699px 1956px #fff, 116px 1987px #fff, 360px 438px #fff,
		1857px 1614px #fff, 1309px 1919px #fff, 660px 156px #fff, 1797px 564px #fff,
		1951px 1875px #fff, 472px 323px #fff, 1626px 461px #fff, 439px 1268px #fff,
		69px 1018px #fff, 1115px 871px #fff, 1164px 675px #fff, 747px 1930px #fff,
		183px 1460px #fff, 122px 497px #fff, 1745px 821px #fff, 1596px 1260px #fff,
		1705px 883px #fff, 522px 633px #fff, 42px 145px #fff, 338px 1845px #fff,
		938px 1015px #fff, 446px 140px #fff, 12px 253px #fff, 651px 718px #fff,
		572px 1279px #fff, 624px 1993px #fff, 199px 1703px #fff, 182px 1264px #fff,
		708px 475px #fff, 806px 753px #fff, 1467px 1250px #fff, 1643px 380px #fff,
		1166px 1017px #fff, 998px 593px #fff, 1910px 1021px #fff, 1984px 1692px #fff,
		1522px 801px #fff, 8px 275px #fff, 451px 26px #fff, 1700px 1271px #fff,
		846px 1914px #fff, 243px 598px #fff, 517px 430px #fff, 1523px 1133px #fff,
		1230px 933px #fff, 942px 958px #fff, 998px 368px #fff, 995px 1330px #fff,
		1591px 633px #fff, 1444px 1479px #fff, 1514px 557px #fff, 861px 1080px #fff,
		1112px 1585px #fff, 1173px 1855px #fff, 1336px 1622px #fff,
		830px 1640px #fff, 779px 42px #fff, 1429px 867px #fff, 707px 2px #fff,
		1167px 1275px #fff, 1522px 1183px #fff, 555px 1706px #fff,
		1110px 1739px #fff, 1836px 1483px #fff, 401px 866px #fff, 2px 565px #fff,
		799px 1845px #fff, 922px 1707px #fff, 1327px 1945px #fff, 1399px 1252px #fff,
		322px 1303px #fff, 12px 1985px #fff, 675px 1918px #fff, 1467px 589px #fff,
		210px 1754px #fff, 136px 1180px #fff, 1149px 175px #fff, 1408px 558px #fff,
		1580px 60px #fff, 1607px 1933px #fff, 1903px 328px #fff, 15px 187px #fff,
		1643px 87px #fff, 1309px 1692px #fff, 589px 37px #fff, 1610px 1570px #fff,
		759px 1646px #fff, 1583px 1884px #fff, 1249px 1923px #fff, 182px 460px #fff,
		1497px 577px #fff, 1639px 274px #fff, 383px 1086px #fff, 1569px 1366px #fff,
		1498px 1465px #fff, 609px 1617px #fff, 1958px 605px #fff, 1661px 688px #fff,
		1016px 616px #fff, 1273px 1056px #fff, 1964px 313px #fff, 641px 1908px #fff,
		1325px 766px #fff, 611px 326px #fff, 1304px 1124px #fff, 116px 991px #fff,
		439px 109px #fff, 422px 1825px #fff, 929px 1577px #fff, 731px 329px #fff,
		709px 596px #fff, 165px 1976px #fff, 726px 719px #fff, 1076px 416px #fff,
		1336px 1893px #fff, 722px 461px #fff, 1076px 21px #fff, 966px 514px #fff,
		780px 55px #fff, 623px 1650px #fff, 687px 48px #fff, 1842px 1410px #fff,
		454px 1353px #fff, 681px 212px #fff, 1072px 40px #fff, 1895px 1212px #fff,
		771px 1029px #fff, 488px 286px #fff, 361px 758px #fff, 1px 1903px #fff,
		256px 1521px #fff, 272px 1567px #fff, 651px 1580px #fff, 1008px 1082px #fff,
		182px 62px #fff, 1877px 864px #fff, 1315px 1930px #fff, 844px 892px #fff,
		3px 395px #fff, 1464px 743px #fff, 1207px 1023px #fff, 345px 812px #fff,
		1303px 269px #fff, 961px 357px #fff, 1543px 1654px #fff, 1531px 1259px #fff,
		1394px 245px #fff, 1747px 819px #fff, 881px 1764px #fff, 667px 343px #fff,
		709px 718px #fff, 425px 87px #fff, 552px 834px #fff, 119px 140px #fff,
		1890px 1508px #fff, 155px 1855px #fff, 1772px 774px #fff, 957px 1276px #fff,
		1899px 925px #fff, 91px 1235px #fff, 8px 822px #fff, 1155px 1467px #fff,
		1638px 1391px #fff, 1582px 525px #fff, 150px 155px #fff, 218px 208px #fff,
		452px 1768px #fff, 1776px 1198px #fff, 911px 9px #fff, 78px 1219px #fff,
		799px 1688px #fff, 704px 1083px #fff, 1606px 1263px #fff, 1863px 1753px #fff,
		670px 620px #fff, 1374px 1799px #fff, 539px 374px #fff, 113px 1579px #fff,
		778px 748px #fff, 162px 1124px #fff, 1809px 487px #fff, 1571px 1958px #fff,
		1709px 221px #fff, 46px 387px #fff, 1685px 88px #fff, 760px 1008px #fff,
		832px 390px #fff, 1777px 1692px #fff, 644px 750px #fff, 979px 658px #fff,
		751px 1357px #fff, 445px 1605px #fff, 1463px 76px #fff, 1147px 1298px #fff,
		912px 1319px #fff, 1646px 1775px #fff, 917px 1222px #fff, 1937px 1536px #fff,
		1496px 1028px #fff, 409px 892px #fff, 311px 1147px #fff, 105px 1627px #fff,
		420px 1880px #fff, 1405px 1819px #fff, 1155px 453px #fff, 717px 1788px #fff,
		757px 647px #fff, 1854px 1985px #fff, 1832px 1822px #fff, 1086px 123px #fff,
		753px 266px #fff, 1348px 1866px #fff, 1330px 440px #fff, 1897px 1866px #fff,
		1241px 1384px #fff, 856px 148px #fff, 917px 276px #fff, 1647px 576px #fff,
		1164px 466px #fff, 1903px 1381px #fff, 1255px 1302px #fff, 1511px 542px #fff,
		1233px 1335px #fff, 979px 862px #fff, 1561px 452px #fff, 1446px 473px #fff,
		1846px 1064px #fff, 1651px 343px #fff, 1411px 839px #fff, 786px 468px #fff,
		427px 177px #fff, 1134px 1766px #fff, 1197px 373px #fff, 1747px 1176px #fff,
		1447px 1208px #fff, 324px 422px #fff, 1553px 474px #fff, 1866px 663px #fff,
		541px 1998px #fff, 1908px 1317px #fff, 592px 669px #fff, 1655px 837px #fff,
		1845px 341px #fff, 1002px 777px #fff, 501px 1942px #fff, 665px 598px #fff,
		954px 49px #fff, 1555px 1822px #fff, 1714px 1570px #fff, 948px 412px #fff,
		1370px 1395px #fff, 1094px 1085px #fff, 1749px 1193px #fff,
		660px 1990px #fff, 1918px 1773px #fff, 1933px 1571px #fff, 224px 1687px #fff,
		40px 109px #fff, 1259px 505px #fff, 684px 60px #fff, 675px 555px #fff,
		863px 653px #fff, 360px 1838px #fff, 1607px 626px #fff, 1872px 490px #fff,
		4px 523px #fff, 849px 146px #fff, 186px 175px #fff, 155px 1701px #fff,
		586px 509px #fff, 554px 310px #fff, 1239px 148px #fff, 536px 878px #fff,
		86px 771px #fff, 1984px 764px #fff, 733px 1702px #fff, 387px 1462px #fff,
		1422px 1716px #fff, 1138px 646px #fff, 1965px 1875px #fff, 388px 1541px #fff,
		1291px 539px #fff, 647px 7px #fff, 448px 1338px #fff, 1722px 219px #fff,
		808px 470px #fff, 1309px 1285px #fff, 873px 147px #fff, 1956px 264px #fff,
		1779px 87px #fff, 1703px 1931px #fff, 1548px 1256px #fff, 1687px 972px #fff,
		1276px 251px #fff, 293px 1227px #fff, 204px 1560px #fff, 1314px 1193px #fff,
		1372px 209px #fff, 1420px 1896px #fff, 37px 1381px #fff, 434px 295px #fff,
		1146px 151px #fff, 1300px 1770px #fff, 1653px 666px #fff, 1255px 1341px #fff,
		1893px 148px #fff, 430px 1885px #fff, 1417px 1845px #fff, 723px 661px #fff,
		864px 622px #fff, 54px 1860px #fff, 325px 577px #fff, 352px 887px #fff,
		1168px 299px #fff, 764px 388px #fff, 1917px 1217px #fff, 308px 787px #fff,
		1818px 1020px #fff, 196px 1166px #fff, 1651px 1126px #fff,
		1616px 1168px #fff, 1003px 1462px #fff, 142px 1208px #fff,
		1584px 1661px #fff, 1979px 1709px #fff, 1236px 267px #fff,
		1184px 1283px #fff, 68px 1905px #fff, 266px 970px #fff, 1540px 987px #fff,
		626px 1031px #fff, 1937px 1198px #fff, 1654px 1637px #fff, 1483px 569px #fff,
		1918px 706px #fff, 1732px 914px #fff, 1089px 1339px #fff, 109px 1145px #fff,
		1543px 1767px #fff, 476px 156px #fff, 812px 295px #fff, 1121px 1320px #fff,
		1600px 1696px #fff, 1449px 1299px #fff, 207px 73px #fff, 1428px 361px #fff,
		236px 1501px #fff, 840px 1179px #fff, 114px 374px #fff, 685px 776px #fff,
		972px 551px #fff, 1408px 476px #fff, 1614px 1143px #fff, 1504px 1973px #fff,
		862px 793px #fff, 726px 282px #fff, 989px 1761px #fff, 33px 1945px #fff,
		1319px 551px #fff, 1758px 850px #fff, 864px 1919px #fff, 1068px 631px #fff,
		1381px 1084px #fff, 1421px 2px #fff, 1064px 1639px #fff, 48px 810px #fff,
		1948px 1394px #fff, 656px 1242px #fff, 1118px 1479px #fff, 1371px 515px #fff,
		1694px 367px #fff, 1835px 987px #fff, 437px 49px #fff, 1050px 1526px #fff,
		1717px 717px #fff, 1949px 638px #fff, 1460px 1918px #fff, 455px 936px #fff,
		1846px 950px #fff, 61px 272px #fff, 806px 1524px #fff, 1966px 879px #fff,
		1813px 1805px #fff, 669px 1763px #fff, 1208px 1028px #fff, 1009px 438px #fff,
		201px 1355px #fff, 1466px 513px #fff, 1569px 1314px #fff, 576px 1317px #fff,
		1729px 639px #fff, 399px 1204px #fff, 1848px 769px #fff, 1939px 369px #fff,
		211px 1220px #fff, 995px 1275px #fff, 1632px 529px #fff, 1216px 604px #fff,
		1727px 1284px #fff, 557px 217px #fff, 799px 1573px #fff, 305px 1517px #fff,
		711px 536px #fff, 501px 1066px #fff, 1941px 1423px #fff, 969px 1728px #fff,
		162px 1738px #fff, 1055px 1532px #fff, 652px 1629px #fff, 1285px 859px #fff,
		968px 1346px #fff, 202px 174px #fff, 1054px 1456px #fff, 324px 24px #fff,
		865px 170px #fff, 1776px 167px #fff, 782px 1603px #fff, 66px 1683px #fff,
		1847px 1454px #fff, 534px 78px #fff, 1716px 512px #fff, 325px 1238px #fff,
		772px 1659px #fff, 814px 928px #fff, 148px 218px #fff, 139px 1739px #fff,
		937px 1939px #fff, 1517px 739px #fff, 202px 1429px #fff, 1579px 1431px #fff,
		1751px 657px #fff, 724px 450px #fff, 1625px 763px #fff, 1534px 1406px #fff,
		743px 414px #fff, 7px 1426px #fff, 819px 1870px #fff, 376px 789px #fff,
		1352px 1793px #fff, 1242px 520px #fff, 978px 1992px #fff, 1654px 1851px #fff,
		1576px 1856px #fff, 825px 676px #fff, 1963px 736px #fff, 1355px 237px #fff,
		357px 355px #fff, 1014px 1737px #fff, 1387px 1290px #fff, 1592px 329px #fff,
		960px 1684px #fff, 334px 1839px #fff, 1992px 1666px #fff, 58px 360px #fff,
		1131px 1337px #fff, 68px 1320px #fff, 1789px 219px #fff, 1142px 1798px #fff,
		352px 349px #fff, 1006px 1678px #fff;
	animation: animStar 50s linear infinite;
}
#stars:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1456px 294px #fff, 175px 774px #fff, 805px 50px #fff,
		1902px 699px #fff, 1119px 1053px #fff, 74px 22px #fff, 735px 694px #fff,
		1045px 960px #fff, 424px 971px #fff, 1844px 1465px #fff, 1934px 1654px #fff,
		41px 354px #fff, 274px 1988px #fff, 1054px 145px #fff, 208px 40px #fff,
		917px 1951px #fff, 1211px 135px #fff, 848px 1015px #fff, 1924px 606px #fff,
		1832px 956px #fff, 1365px 395px #fff, 536px 292px #fff, 1454px 899px #fff,
		1606px 990px #fff, 847px 1312px #fff, 512px 587px #fff, 1503px 291px #fff,
		1641px 728px #fff, 1159px 1633px #fff, 1585px 752px #fff, 1655px 396px #fff,
		1592px 1051px #fff, 200px 1195px #fff, 285px 803px #fff, 952px 51px #fff,
		640px 972px #fff, 1229px 311px #fff, 901px 1381px #fff, 1877px 462px #fff,
		1975px 258px #fff, 421px 367px #fff, 840px 740px #fff, 1320px 1042px #fff,
		1363px 1748px #fff, 1421px 1025px #fff, 1935px 1419px #fff,
		1071px 505px #fff, 1996px 1654px #fff, 104px 1495px #fff, 1654px 1696px #fff,
		781px 226px #fff, 1914px 1026px #fff, 1885px 1385px #fff, 1084px 1528px #fff,
		654px 959px #fff, 1764px 1324px #fff, 579px 19px #fff, 1680px 1171px #fff,
		922px 892px #fff, 1184px 1707px #fff, 1576px 1055px #fff, 849px 977px #fff,
		1177px 243px #fff, 845px 1090px #fff, 976px 1048px #fff, 1762px 1752px #fff,
		1489px 689px #fff, 670px 1283px #fff, 1886px 197px #fff, 564px 859px #fff,
		601px 1409px #fff, 1892px 375px #fff, 465px 1821px #fff, 1270px 770px #fff,
		541px 1907px #fff, 688px 1221px #fff, 1080px 550px #fff, 1870px 602px #fff,
		191px 690px #fff, 539px 687px #fff, 252px 1973px #fff, 1085px 681px #fff,
		1395px 1177px #fff, 1254px 514px #fff, 17px 1697px #fff, 195px 1297px #fff,
		1260px 1445px #fff, 309px 1517px #fff, 1318px 1494px #fff,
		1527px 1838px #fff, 1279px 562px #fff, 915px 1860px #fff, 1337px 1083px #fff,
		507px 979px #fff, 734px 217px #fff, 338px 683px #fff, 979px 460px #fff,
		1842px 1280px #fff, 1880px 1575px #fff, 864px 1087px #fff,
		1453px 1810px #fff, 720px 1072px #fff, 1286px 1638px #fff, 1821px 920px #fff,
		758px 234px #fff, 69px 1327px #fff, 1407px 1388px #fff, 1943px 1697px #fff,
		416px 29px #fff, 1755px 1500px #fff, 1274px 72px #fff, 1497px 622px #fff,
		293px 1295px #fff, 1279px 1472px #fff, 1790px 1601px #fff, 292px 379px #fff,
		1194px 214px #fff, 1795px 1130px #fff, 1833px 85px #fff, 710px 1031px #fff,
		1273px 504px #fff, 1327px 1469px #fff, 1728px 1722px #fff, 574px 547px #fff,
		1576px 259px #fff, 1414px 1177px #fff, 1846px 1094px #fff, 560px 203px #fff,
		1783px 1796px #fff, 914px 1489px #fff, 465px 1612px #fff, 714px 402px #fff,
		962px 1625px #fff, 1363px 840px #fff, 682px 1752px #fff, 1711px 496px #fff,
		149px 516px #fff, 939px 1661px #fff, 1212px 1874px #fff, 1211px 345px #fff,
		1912px 347px #fff, 172px 1295px #fff, 1379px 554px #fff, 407px 1134px #fff,
		1685px 744px #fff, 154px 1000px #fff, 981px 621px #fff, 1855px 574px #fff,
		1445px 1572px #fff, 451px 1839px #fff, 1306px 1463px #fff, 980px 1560px #fff,
		1955px 1940px #fff, 21px 172px #fff, 718px 1885px #fff, 1506px 295px #fff,
		1007px 305px #fff, 658px 1666px #fff, 395px 841px #fff, 967px 468px #fff,
		281px 970px #fff, 1024px 428px #fff, 471px 55px #fff, 532px 28px #fff,
		146px 641px #fff, 1076px 1517px #fff, 1754px 958px #fff, 1631px 1441px #fff,
		878px 743px #fff, 1637px 719px #fff, 1576px 212px #fff, 1908px 552px #fff,
		1498px 855px #fff, 1296px 172px #fff, 202px 878px #fff, 1910px 437px #fff,
		1863px 1076px #fff, 838px 1534px #fff, 656px 1355px #fff, 1568px 1480px #fff,
		991px 749px #fff, 199px 853px #fff, 748px 1378px #fff, 1771px 1218px #fff,
		559px 139px #fff, 526px 1965px #fff, 8px 214px #fff, 1668px 1593px #fff,
		1839px 691px #fff, 325px 1756px #fff, 453px 363px #fff, 1561px 779px #fff,
		1684px 1827px #fff, 221px 557px #fff, 1781px 1055px #fff, 718px 396px #fff,
		965px 1915px #fff, 3px 1630px #fff, 1359px 1449px #fff, 1241px 409px #fff,
		1147px 1459px #fff, 116px 481px #fff, 622px 1774px #fff, 1899px 311px #fff,
		707px 1507px #fff, 626px 875px #fff, 1930px 1705px #fff, 189px 221px #fff,
		61px 1261px #fff, 646px 1900px #fff, 1255px 910px #fff, 1555px 1970px #fff,
		494px 1688px #fff, 19px 1916px #fff, 1219px 1221px #fff, 722px 641px #fff,
		1873px 441px #fff, 1459px 836px #fff, 235px 869px #fff, 1287px 846px #fff,
		492px 1920px #fff, 381px 4px #fff, 1509px 1671px #fff, 591px 1646px #fff,
		653px 1612px #fff, 198px 812px #fff, 1648px 113px #fff, 770px 1812px #fff,
		1736px 338px #fff, 811px 1720px #fff, 805px 127px #fff, 750px 926px #fff,
		1341px 111px #fff, 1238px 957px #fff, 1471px 1906px #fff, 1816px 1484px #fff,
		1366px 1251px #fff, 699px 1956px #fff, 116px 1987px #fff, 360px 438px #fff,
		1857px 1614px #fff, 1309px 1919px #fff, 660px 156px #fff, 1797px 564px #fff,
		1951px 1875px #fff, 472px 323px #fff, 1626px 461px #fff, 439px 1268px #fff,
		69px 1018px #fff, 1115px 871px #fff, 1164px 675px #fff, 747px 1930px #fff,
		183px 1460px #fff, 122px 497px #fff, 1745px 821px #fff, 1596px 1260px #fff,
		1705px 883px #fff, 522px 633px #fff, 42px 145px #fff, 338px 1845px #fff,
		938px 1015px #fff, 446px 140px #fff, 12px 253px #fff, 651px 718px #fff,
		572px 1279px #fff, 624px 1993px #fff, 199px 1703px #fff, 182px 1264px #fff,
		708px 475px #fff, 806px 753px #fff, 1467px 1250px #fff, 1643px 380px #fff,
		1166px 1017px #fff, 998px 593px #fff, 1910px 1021px #fff, 1984px 1692px #fff,
		1522px 801px #fff, 8px 275px #fff, 451px 26px #fff, 1700px 1271px #fff,
		846px 1914px #fff, 243px 598px #fff, 517px 430px #fff, 1523px 1133px #fff,
		1230px 933px #fff, 942px 958px #fff, 998px 368px #fff, 995px 1330px #fff,
		1591px 633px #fff, 1444px 1479px #fff, 1514px 557px #fff, 861px 1080px #fff,
		1112px 1585px #fff, 1173px 1855px #fff, 1336px 1622px #fff,
		830px 1640px #fff, 779px 42px #fff, 1429px 867px #fff, 707px 2px #fff,
		1167px 1275px #fff, 1522px 1183px #fff, 555px 1706px #fff,
		1110px 1739px #fff, 1836px 1483px #fff, 401px 866px #fff, 2px 565px #fff,
		799px 1845px #fff, 922px 1707px #fff, 1327px 1945px #fff, 1399px 1252px #fff,
		322px 1303px #fff, 12px 1985px #fff, 675px 1918px #fff, 1467px 589px #fff,
		210px 1754px #fff, 136px 1180px #fff, 1149px 175px #fff, 1408px 558px #fff,
		1580px 60px #fff, 1607px 1933px #fff, 1903px 328px #fff, 15px 187px #fff,
		1643px 87px #fff, 1309px 1692px #fff, 589px 37px #fff, 1610px 1570px #fff,
		759px 1646px #fff, 1583px 1884px #fff, 1249px 1923px #fff, 182px 460px #fff,
		1497px 577px #fff, 1639px 274px #fff, 383px 1086px #fff, 1569px 1366px #fff,
		1498px 1465px #fff, 609px 1617px #fff, 1958px 605px #fff, 1661px 688px #fff,
		1016px 616px #fff, 1273px 1056px #fff, 1964px 313px #fff, 641px 1908px #fff,
		1325px 766px #fff, 611px 326px #fff, 1304px 1124px #fff, 116px 991px #fff,
		439px 109px #fff, 422px 1825px #fff, 929px 1577px #fff, 731px 329px #fff,
		709px 596px #fff, 165px 1976px #fff, 726px 719px #fff, 1076px 416px #fff,
		1336px 1893px #fff, 722px 461px #fff, 1076px 21px #fff, 966px 514px #fff,
		780px 55px #fff, 623px 1650px #fff, 687px 48px #fff, 1842px 1410px #fff,
		454px 1353px #fff, 681px 212px #fff, 1072px 40px #fff, 1895px 1212px #fff,
		771px 1029px #fff, 488px 286px #fff, 361px 758px #fff, 1px 1903px #fff,
		256px 1521px #fff, 272px 1567px #fff, 651px 1580px #fff, 1008px 1082px #fff,
		182px 62px #fff, 1877px 864px #fff, 1315px 1930px #fff, 844px 892px #fff,
		3px 395px #fff, 1464px 743px #fff, 1207px 1023px #fff, 345px 812px #fff,
		1303px 269px #fff, 961px 357px #fff, 1543px 1654px #fff, 1531px 1259px #fff,
		1394px 245px #fff, 1747px 819px #fff, 881px 1764px #fff, 667px 343px #fff,
		709px 718px #fff, 425px 87px #fff, 552px 834px #fff, 119px 140px #fff,
		1890px 1508px #fff, 155px 1855px #fff, 1772px 774px #fff, 957px 1276px #fff,
		1899px 925px #fff, 91px 1235px #fff, 8px 822px #fff, 1155px 1467px #fff,
		1638px 1391px #fff, 1582px 525px #fff, 150px 155px #fff, 218px 208px #fff,
		452px 1768px #fff, 1776px 1198px #fff, 911px 9px #fff, 78px 1219px #fff,
		799px 1688px #fff, 704px 1083px #fff, 1606px 1263px #fff, 1863px 1753px #fff,
		670px 620px #fff, 1374px 1799px #fff, 539px 374px #fff, 113px 1579px #fff,
		778px 748px #fff, 162px 1124px #fff, 1809px 487px #fff, 1571px 1958px #fff,
		1709px 221px #fff, 46px 387px #fff, 1685px 88px #fff, 760px 1008px #fff,
		832px 390px #fff, 1777px 1692px #fff, 644px 750px #fff, 979px 658px #fff,
		751px 1357px #fff, 445px 1605px #fff, 1463px 76px #fff, 1147px 1298px #fff,
		912px 1319px #fff, 1646px 1775px #fff, 917px 1222px #fff, 1937px 1536px #fff,
		1496px 1028px #fff, 409px 892px #fff, 311px 1147px #fff, 105px 1627px #fff,
		420px 1880px #fff, 1405px 1819px #fff, 1155px 453px #fff, 717px 1788px #fff,
		757px 647px #fff, 1854px 1985px #fff, 1832px 1822px #fff, 1086px 123px #fff,
		753px 266px #fff, 1348px 1866px #fff, 1330px 440px #fff, 1897px 1866px #fff,
		1241px 1384px #fff, 856px 148px #fff, 917px 276px #fff, 1647px 576px #fff,
		1164px 466px #fff, 1903px 1381px #fff, 1255px 1302px #fff, 1511px 542px #fff,
		1233px 1335px #fff, 979px 862px #fff, 1561px 452px #fff, 1446px 473px #fff,
		1846px 1064px #fff, 1651px 343px #fff, 1411px 839px #fff, 786px 468px #fff,
		427px 177px #fff, 1134px 1766px #fff, 1197px 373px #fff, 1747px 1176px #fff,
		1447px 1208px #fff, 324px 422px #fff, 1553px 474px #fff, 1866px 663px #fff,
		541px 1998px #fff, 1908px 1317px #fff, 592px 669px #fff, 1655px 837px #fff,
		1845px 341px #fff, 1002px 777px #fff, 501px 1942px #fff, 665px 598px #fff,
		954px 49px #fff, 1555px 1822px #fff, 1714px 1570px #fff, 948px 412px #fff,
		1370px 1395px #fff, 1094px 1085px #fff, 1749px 1193px #fff,
		660px 1990px #fff, 1918px 1773px #fff, 1933px 1571px #fff, 224px 1687px #fff,
		40px 109px #fff, 1259px 505px #fff, 684px 60px #fff, 675px 555px #fff,
		863px 653px #fff, 360px 1838px #fff, 1607px 626px #fff, 1872px 490px #fff,
		4px 523px #fff, 849px 146px #fff, 186px 175px #fff, 155px 1701px #fff,
		586px 509px #fff, 554px 310px #fff, 1239px 148px #fff, 536px 878px #fff,
		86px 771px #fff, 1984px 764px #fff, 733px 1702px #fff, 387px 1462px #fff,
		1422px 1716px #fff, 1138px 646px #fff, 1965px 1875px #fff, 388px 1541px #fff,
		1291px 539px #fff, 647px 7px #fff, 448px 1338px #fff, 1722px 219px #fff,
		808px 470px #fff, 1309px 1285px #fff, 873px 147px #fff, 1956px 264px #fff,
		1779px 87px #fff, 1703px 1931px #fff, 1548px 1256px #fff, 1687px 972px #fff,
		1276px 251px #fff, 293px 1227px #fff, 204px 1560px #fff, 1314px 1193px #fff,
		1372px 209px #fff, 1420px 1896px #fff, 37px 1381px #fff, 434px 295px #fff,
		1146px 151px #fff, 1300px 1770px #fff, 1653px 666px #fff, 1255px 1341px #fff,
		1893px 148px #fff, 430px 1885px #fff, 1417px 1845px #fff, 723px 661px #fff,
		864px 622px #fff, 54px 1860px #fff, 325px 577px #fff, 352px 887px #fff,
		1168px 299px #fff, 764px 388px #fff, 1917px 1217px #fff, 308px 787px #fff,
		1818px 1020px #fff, 196px 1166px #fff, 1651px 1126px #fff,
		1616px 1168px #fff, 1003px 1462px #fff, 142px 1208px #fff,
		1584px 1661px #fff, 1979px 1709px #fff, 1236px 267px #fff,
		1184px 1283px #fff, 68px 1905px #fff, 266px 970px #fff, 1540px 987px #fff,
		626px 1031px #fff, 1937px 1198px #fff, 1654px 1637px #fff, 1483px 569px #fff,
		1918px 706px #fff, 1732px 914px #fff, 1089px 1339px #fff, 109px 1145px #fff,
		1543px 1767px #fff, 476px 156px #fff, 812px 295px #fff, 1121px 1320px #fff,
		1600px 1696px #fff, 1449px 1299px #fff, 207px 73px #fff, 1428px 361px #fff,
		236px 1501px #fff, 840px 1179px #fff, 114px 374px #fff, 685px 776px #fff,
		972px 551px #fff, 1408px 476px #fff, 1614px 1143px #fff, 1504px 1973px #fff,
		862px 793px #fff, 726px 282px #fff, 989px 1761px #fff, 33px 1945px #fff,
		1319px 551px #fff, 1758px 850px #fff, 864px 1919px #fff, 1068px 631px #fff,
		1381px 1084px #fff, 1421px 2px #fff, 1064px 1639px #fff, 48px 810px #fff,
		1948px 1394px #fff, 656px 1242px #fff, 1118px 1479px #fff, 1371px 515px #fff,
		1694px 367px #fff, 1835px 987px #fff, 437px 49px #fff, 1050px 1526px #fff,
		1717px 717px #fff, 1949px 638px #fff, 1460px 1918px #fff, 455px 936px #fff,
		1846px 950px #fff, 61px 272px #fff, 806px 1524px #fff, 1966px 879px #fff,
		1813px 1805px #fff, 669px 1763px #fff, 1208px 1028px #fff, 1009px 438px #fff,
		201px 1355px #fff, 1466px 513px #fff, 1569px 1314px #fff, 576px 1317px #fff,
		1729px 639px #fff, 399px 1204px #fff, 1848px 769px #fff, 1939px 369px #fff,
		211px 1220px #fff, 995px 1275px #fff, 1632px 529px #fff, 1216px 604px #fff,
		1727px 1284px #fff, 557px 217px #fff, 799px 1573px #fff, 305px 1517px #fff,
		711px 536px #fff, 501px 1066px #fff, 1941px 1423px #fff, 969px 1728px #fff,
		162px 1738px #fff, 1055px 1532px #fff, 652px 1629px #fff, 1285px 859px #fff,
		968px 1346px #fff, 202px 174px #fff, 1054px 1456px #fff, 324px 24px #fff,
		865px 170px #fff, 1776px 167px #fff, 782px 1603px #fff, 66px 1683px #fff,
		1847px 1454px #fff, 534px 78px #fff, 1716px 512px #fff, 325px 1238px #fff,
		772px 1659px #fff, 814px 928px #fff, 148px 218px #fff, 139px 1739px #fff,
		937px 1939px #fff, 1517px 739px #fff, 202px 1429px #fff, 1579px 1431px #fff,
		1751px 657px #fff, 724px 450px #fff, 1625px 763px #fff, 1534px 1406px #fff,
		743px 414px #fff, 7px 1426px #fff, 819px 1870px #fff, 376px 789px #fff,
		1352px 1793px #fff, 1242px 520px #fff, 978px 1992px #fff, 1654px 1851px #fff,
		1576px 1856px #fff, 825px 676px #fff, 1963px 736px #fff, 1355px 237px #fff,
		357px 355px #fff, 1014px 1737px #fff, 1387px 1290px #fff, 1592px 329px #fff,
		960px 1684px #fff, 334px 1839px #fff, 1992px 1666px #fff, 58px 360px #fff,
		1131px 1337px #fff, 68px 1320px #fff, 1789px 219px #fff, 1142px 1798px #fff,
		352px 349px #fff, 1006px 1678px #fff;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1233px 1591px #fff, 895px 837px #fff, 593px 352px #fff,
		926px 1275px #fff, 1317px 1906px #fff, 1145px 1771px #fff,
		1271px 1070px #fff, 808px 572px #fff, 240px 988px #fff, 719px 1255px #fff,
		214px 1244px #fff, 1670px 516px #fff, 1961px 13px #fff, 25px 1154px #fff,
		686px 1352px #fff, 896px 1410px #fff, 1751px 437px #fff, 1825px 559px #fff,
		1667px 463px #fff, 245px 1439px #fff, 633px 1462px #fff, 1599px 520px #fff,
		61px 1495px #fff, 1290px 75px #fff, 853px 1887px #fff, 781px 1207px #fff,
		669px 1881px #fff, 426px 90px #fff, 1171px 869px #fff, 1847px 213px #fff,
		566px 1805px #fff, 1888px 1262px #fff, 32px 1551px #fff, 1459px 238px #fff,
		297px 1337px #fff, 700px 1334px #fff, 328px 280px #fff, 1902px 1948px #fff,
		1363px 752px #fff, 188px 138px #fff, 796px 1421px #fff, 1352px 1666px #fff,
		107px 1680px #fff, 1749px 1218px #fff, 381px 910px #fff, 62px 587px #fff,
		630px 1560px #fff, 1198px 875px #fff, 472px 767px #fff, 379px 306px #fff,
		907px 330px #fff, 1157px 1478px #fff, 1849px 1348px #fff, 726px 98px #fff,
		365px 1121px #fff, 3px 1307px #fff, 665px 237px #fff, 1819px 57px #fff,
		42px 787px #fff, 1809px 1953px #fff, 154px 770px #fff, 593px 1370px #fff,
		1164px 683px #fff, 444px 510px #fff, 451px 608px #fff, 535px 1367px #fff,
		1859px 1591px #fff, 1059px 746px #fff, 1645px 296px #fff, 1732px 880px #fff,
		595px 1209px #fff, 964px 1229px #fff, 609px 71px #fff, 1543px 1712px #fff,
		491px 711px #fff, 1735px 1729px #fff, 1837px 453px #fff, 1119px 1273px #fff,
		633px 1964px #fff, 1475px 160px #fff, 1648px 1539px #fff, 275px 1381px #fff,
		148px 82px #fff, 977px 1867px #fff, 945px 902px #fff, 1156px 1465px #fff,
		971px 1465px #fff, 615px 812px #fff, 1788px 936px #fff, 1293px 1234px #fff,
		810px 522px #fff, 579px 388px #fff, 260px 461px #fff, 1095px 978px #fff,
		1036px 54px #fff, 1166px 547px #fff, 538px 1515px #fff, 968px 1553px #fff,
		1401px 1544px #fff, 279px 1761px #fff, 1885px 1523px #fff, 775px 1629px #fff,
		1209px 1501px #fff, 1051px 920px #fff, 553px 1896px #fff, 463px 1525px #fff,
		800px 1967px #fff, 1175px 725px #fff, 1654px 586px #fff, 1137px 768px #fff,
		1470px 501px #fff, 278px 1277px #fff, 1253px 1862px #fff, 1708px 1664px #fff,
		1321px 1126px #fff, 1246px 66px #fff, 525px 1945px #fff, 1450px 1230px #fff,
		1425px 1181px #fff, 1750px 61px #fff, 1863px 499px #fff, 879px 885px #fff,
		1892px 652px #fff, 244px 1577px #fff, 330px 72px #fff, 1845px 1055px #fff,
		1071px 1283px #fff, 1932px 1175px #fff, 568px 735px #fff, 889px 1003px #fff,
		96px 1266px #fff, 1437px 1455px #fff, 541px 1409px #fff, 823px 1447px #fff,
		1716px 1550px #fff, 1764px 1174px #fff, 841px 995px #fff, 1156px 320px #fff,
		758px 796px #fff, 2000px 1471px #fff, 1534px 478px #fff, 1103px 993px #fff,
		426px 1459px #fff, 244px 333px #fff, 1622px 1097px #fff, 587px 1203px #fff,
		421px 1109px #fff, 412px 294px #fff, 174px 466px #fff, 287px 1339px #fff,
		1044px 890px #fff, 1724px 732px #fff, 1183px 953px #fff, 710px 461px #fff,
		1139px 222px #fff, 273px 1161px #fff, 379px 1298px #fff, 821px 1458px #fff,
		947px 867px #fff, 786px 721px #fff, 1497px 309px #fff, 1057px 321px #fff,
		31px 270px #fff, 370px 1119px #fff, 1679px 1241px #fff, 367px 154px #fff,
		1605px 379px #fff, 1765px 1596px #fff, 1514px 847px #fff, 324px 1778px #fff,
		678px 1224px #fff, 516px 343px #fff, 1012px 1499px #fff, 1824px 135px #fff,
		356px 715px #fff, 1532px 1431px #fff, 1995px 685px #fff, 1834px 1803px #fff,
		946px 245px #fff, 1405px 149px #fff, 1291px 1509px #fff, 700px 468px #fff,
		370px 1536px #fff, 124px 389px #fff, 1015px 1000px #fff, 943px 1986px #fff,
		1000px 1894px #fff, 1506px 725px #fff, 1936px 1190px #fff, 675px 1419px #fff,
		567px 1289px #fff, 122px 1941px #fff, 1446px 473px #fff, 699px 223px #fff,
		129px 472px #fff, 182px 576px #fff, 266px 1379px #fff, 895px 549px #fff,
		1253px 814px #fff, 1090px 1347px #fff;
	animation: animStar 100s linear infinite;
}
#stars2:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1233px 1591px #fff, 895px 837px #fff, 593px 352px #fff,
		926px 1275px #fff, 1317px 1906px #fff, 1145px 1771px #fff,
		1271px 1070px #fff, 808px 572px #fff, 240px 988px #fff, 719px 1255px #fff,
		214px 1244px #fff, 1670px 516px #fff, 1961px 13px #fff, 25px 1154px #fff,
		686px 1352px #fff, 896px 1410px #fff, 1751px 437px #fff, 1825px 559px #fff,
		1667px 463px #fff, 245px 1439px #fff, 633px 1462px #fff, 1599px 520px #fff,
		61px 1495px #fff, 1290px 75px #fff, 853px 1887px #fff, 781px 1207px #fff,
		669px 1881px #fff, 426px 90px #fff, 1171px 869px #fff, 1847px 213px #fff,
		566px 1805px #fff, 1888px 1262px #fff, 32px 1551px #fff, 1459px 238px #fff,
		297px 1337px #fff, 700px 1334px #fff, 328px 280px #fff, 1902px 1948px #fff,
		1363px 752px #fff, 188px 138px #fff, 796px 1421px #fff, 1352px 1666px #fff,
		107px 1680px #fff, 1749px 1218px #fff, 381px 910px #fff, 62px 587px #fff,
		630px 1560px #fff, 1198px 875px #fff, 472px 767px #fff, 379px 306px #fff,
		907px 330px #fff, 1157px 1478px #fff, 1849px 1348px #fff, 726px 98px #fff,
		365px 1121px #fff, 3px 1307px #fff, 665px 237px #fff, 1819px 57px #fff,
		42px 787px #fff, 1809px 1953px #fff, 154px 770px #fff, 593px 1370px #fff,
		1164px 683px #fff, 444px 510px #fff, 451px 608px #fff, 535px 1367px #fff,
		1859px 1591px #fff, 1059px 746px #fff, 1645px 296px #fff, 1732px 880px #fff,
		595px 1209px #fff, 964px 1229px #fff, 609px 71px #fff, 1543px 1712px #fff,
		491px 711px #fff, 1735px 1729px #fff, 1837px 453px #fff, 1119px 1273px #fff,
		633px 1964px #fff, 1475px 160px #fff, 1648px 1539px #fff, 275px 1381px #fff,
		148px 82px #fff, 977px 1867px #fff, 945px 902px #fff, 1156px 1465px #fff,
		971px 1465px #fff, 615px 812px #fff, 1788px 936px #fff, 1293px 1234px #fff,
		810px 522px #fff, 579px 388px #fff, 260px 461px #fff, 1095px 978px #fff,
		1036px 54px #fff, 1166px 547px #fff, 538px 1515px #fff, 968px 1553px #fff,
		1401px 1544px #fff, 279px 1761px #fff, 1885px 1523px #fff, 775px 1629px #fff,
		1209px 1501px #fff, 1051px 920px #fff, 553px 1896px #fff, 463px 1525px #fff,
		800px 1967px #fff, 1175px 725px #fff, 1654px 586px #fff, 1137px 768px #fff,
		1470px 501px #fff, 278px 1277px #fff, 1253px 1862px #fff, 1708px 1664px #fff,
		1321px 1126px #fff, 1246px 66px #fff, 525px 1945px #fff, 1450px 1230px #fff,
		1425px 1181px #fff, 1750px 61px #fff, 1863px 499px #fff, 879px 885px #fff,
		1892px 652px #fff, 244px 1577px #fff, 330px 72px #fff, 1845px 1055px #fff,
		1071px 1283px #fff, 1932px 1175px #fff, 568px 735px #fff, 889px 1003px #fff,
		96px 1266px #fff, 1437px 1455px #fff, 541px 1409px #fff, 823px 1447px #fff,
		1716px 1550px #fff, 1764px 1174px #fff, 841px 995px #fff, 1156px 320px #fff,
		758px 796px #fff, 2000px 1471px #fff, 1534px 478px #fff, 1103px 993px #fff,
		426px 1459px #fff, 244px 333px #fff, 1622px 1097px #fff, 587px 1203px #fff,
		421px 1109px #fff, 412px 294px #fff, 174px 466px #fff, 287px 1339px #fff,
		1044px 890px #fff, 1724px 732px #fff, 1183px 953px #fff, 710px 461px #fff,
		1139px 222px #fff, 273px 1161px #fff, 379px 1298px #fff, 821px 1458px #fff,
		947px 867px #fff, 786px 721px #fff, 1497px 309px #fff, 1057px 321px #fff,
		31px 270px #fff, 370px 1119px #fff, 1679px 1241px #fff, 367px 154px #fff,
		1605px 379px #fff, 1765px 1596px #fff, 1514px 847px #fff, 324px 1778px #fff,
		678px 1224px #fff, 516px 343px #fff, 1012px 1499px #fff, 1824px 135px #fff,
		356px 715px #fff, 1532px 1431px #fff, 1995px 685px #fff, 1834px 1803px #fff,
		946px 245px #fff, 1405px 149px #fff, 1291px 1509px #fff, 700px 468px #fff,
		370px 1536px #fff, 124px 389px #fff, 1015px 1000px #fff, 943px 1986px #fff,
		1000px 1894px #fff, 1506px 725px #fff, 1936px 1190px #fff, 675px 1419px #fff,
		567px 1289px #fff, 122px 1941px #fff, 1446px 473px #fff, 699px 223px #fff,
		129px 472px #fff, 182px 576px #fff, 266px 1379px #fff, 895px 549px #fff,
		1253px 814px #fff, 1090px 1347px #fff;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1908px 1611px #fff, 298px 143px #fff, 1540px 524px #fff,
		1430px 165px #fff, 1554px 122px #fff, 1465px 710px #fff, 458px 201px #fff,
		909px 325px #fff, 1457px 394px #fff, 1885px 1546px #fff, 1792px 1485px #fff,
		1541px 976px #fff, 366px 1653px #fff, 286px 1763px #fff, 472px 1821px #fff,
		1450px 746px #fff, 718px 1902px #fff, 1157px 1604px #fff, 1381px 318px #fff,
		1968px 670px #fff, 376px 481px #fff, 317px 1558px #fff, 341px 698px #fff,
		365px 1693px #fff, 552px 562px #fff, 1366px 701px #fff, 703px 576px #fff,
		20px 1006px #fff, 1923px 558px #fff, 1054px 1441px #fff, 907px 1874px #fff,
		1737px 882px #fff, 707px 985px #fff, 1874px 364px #fff, 1011px 1224px #fff,
		1554px 683px #fff, 616px 444px #fff, 1604px 157px #fff, 1272px 931px #fff,
		594px 871px #fff, 1057px 168px #fff, 431px 12px #fff, 420px 459px #fff,
		1533px 1414px #fff, 1987px 1630px #fff, 578px 1220px #fff, 298px 577px #fff,
		434px 155px #fff, 899px 932px #fff, 661px 1670px #fff, 1439px 1201px #fff,
		898px 184px #fff, 624px 1396px #fff, 430px 1553px #fff, 1041px 1247px #fff,
		1907px 1994px #fff, 1661px 656px #fff, 1432px 883px #fff, 1356px 883px #fff,
		1272px 1061px #fff, 108px 623px #fff, 1508px 1794px #fff, 1861px 1249px #fff,
		1513px 896px #fff, 1773px 2000px #fff, 177px 486px #fff, 1192px 252px #fff,
		509px 773px #fff, 1119px 295px #fff, 784px 1564px #fff, 1557px 372px #fff,
		449px 1981px #fff, 121px 400px #fff, 486px 879px #fff, 1375px 681px #fff,
		1355px 602px #fff, 865px 1807px #fff, 91px 952px #fff, 39px 171px #fff,
		1668px 766px #fff, 1613px 1508px #fff, 1498px 375px #fff, 133px 1689px #fff,
		286px 397px #fff, 1770px 1074px #fff, 412px 1337px #fff, 777px 505px #fff,
		1482px 1545px #fff, 1662px 448px #fff, 1543px 1098px #fff, 1633px 571px #fff,
		255px 251px #fff, 1325px 1210px #fff, 967px 353px #fff, 746px 136px #fff,
		1474px 1712px #fff, 1572px 1857px #fff, 849px 58px #fff, 793px 1222px #fff,
		886px 1866px #fff;
	animation: animStar 150s linear infinite;
}
#stars3:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1908px 1611px #fff, 298px 143px #fff, 1540px 524px #fff,
		1430px 165px #fff, 1554px 122px #fff, 1465px 710px #fff, 458px 201px #fff,
		909px 325px #fff, 1457px 394px #fff, 1885px 1546px #fff, 1792px 1485px #fff,
		1541px 976px #fff, 366px 1653px #fff, 286px 1763px #fff, 472px 1821px #fff,
		1450px 746px #fff, 718px 1902px #fff, 1157px 1604px #fff, 1381px 318px #fff,
		1968px 670px #fff, 376px 481px #fff, 317px 1558px #fff, 341px 698px #fff,
		365px 1693px #fff, 552px 562px #fff, 1366px 701px #fff, 703px 576px #fff,
		20px 1006px #fff, 1923px 558px #fff, 1054px 1441px #fff, 907px 1874px #fff,
		1737px 882px #fff, 707px 985px #fff, 1874px 364px #fff, 1011px 1224px #fff,
		1554px 683px #fff, 616px 444px #fff, 1604px 157px #fff, 1272px 931px #fff,
		594px 871px #fff, 1057px 168px #fff, 431px 12px #fff, 420px 459px #fff,
		1533px 1414px #fff, 1987px 1630px #fff, 578px 1220px #fff, 298px 577px #fff,
		434px 155px #fff, 899px 932px #fff, 661px 1670px #fff, 1439px 1201px #fff,
		898px 184px #fff, 624px 1396px #fff, 430px 1553px #fff, 1041px 1247px #fff,
		1907px 1994px #fff, 1661px 656px #fff, 1432px 883px #fff, 1356px 883px #fff,
		1272px 1061px #fff, 108px 623px #fff, 1508px 1794px #fff, 1861px 1249px #fff,
		1513px 896px #fff, 1773px 2000px #fff, 177px 486px #fff, 1192px 252px #fff,
		509px 773px #fff, 1119px 295px #fff, 784px 1564px #fff, 1557px 372px #fff,
		449px 1981px #fff, 121px 400px #fff, 486px 879px #fff, 1375px 681px #fff,
		1355px 602px #fff, 865px 1807px #fff, 91px 952px #fff, 39px 171px #fff,
		1668px 766px #fff, 1613px 1508px #fff, 1498px 375px #fff, 133px 1689px #fff,
		286px 397px #fff, 1770px 1074px #fff, 412px 1337px #fff, 777px 505px #fff,
		1482px 1545px #fff, 1662px 448px #fff, 1543px 1098px #fff, 1633px 571px #fff,
		255px 251px #fff, 1325px 1210px #fff, 967px 353px #fff, 746px 136px #fff,
		1474px 1712px #fff, 1572px 1857px #fff, 849px 58px #fff, 793px 1222px #fff,
		886px 1866px #fff;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
