.wrapper {
	position: fixed;
	z-index: 0;
	top: 0;
  color: white;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;

	div {
		text-align: center;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		transition: 0.6s;
		background: rgba(0, 0, 0, 1);

		&.show {
			opacity: 1;
		}
	}
}

video {
	position: absolute;
	z-index: -1;
	object-fit: cover;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img {
	max-height: calc(100vh - 450px);
}

.positions-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	max-width: 80%;
	flex-wrap: wrap;
  flex-direction: column;

  & > div {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .header-positions {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 100%;
    position: relative;
  }
}

.score {
  position: fixed;
  top: 15px;
  right: 0;
  color: white;
  background: rgba(60, 60, 60, 0.8);
  padding: 5px 15px 5px 45px;
  border-radius: 45px 0 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

	& > span {
		display: flex;
		align-items: center;
	}
}

.header {
	position: fixed;
	top: 15px;
	color: white;
	left: 2vw;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 35px;
	opacity: 0.8;
	border-bottom: 1px solid;
}

.stats {
	position: fixed;
	top: 15px;
	left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;

	.label {
		color: white;
		background: #3c3c3c;
		text-transform: uppercase;
		padding: 5px 15px;
		border-radius: 15px;
		font-size: 10px;
		display: inline-block;
		margin-bottom: 2px;
	}

	.bar {
		height: 8px;
		background: lightgray;
		border: 1px solid grey;
		width: 260px;
		border-radius: 5px;
		overflow: hidden;

		.progress {
			height: 100%;
			transition: 0.2s;
			width: 0;
		}
	}

	.orgasm .progress {
		background: red;
	}

	.stamina .progress {
		background: yellow;
	}

	.pos .progress {
		background: green;
	}
}

.price {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	gap: 13px;
}

.combo-btn {
  position: absolute;
  border-radius: 100%;
  padding: 0;

  svg {
    fill: white;
    animation: glow-combo 1.5s infinite;
    border-radius: 100%;
  }
}

.combo-message {
  position: absolute;
  bottom: 15vh;
  color: #e51b22;
  font-weight: bold;
  font-size: 60px;
}

@keyframes glow-combo {
	0% {
		text-shadow: #e51b22 0 0 10px;
		box-shadow: 0px 0px 20px 10px #e51b22;
	}
	50% {
		text-shadow: #ba3236 0 0 10px;
		box-shadow: 0px 0px 20px 10px #ba3236;
	}
	100% {
		text-shadow: #e51b22 0 0 10px;
		box-shadow: 0px 0px 20px 10px #e51b22;
	}
}
