<div class="modal" [class.show]="show">
	<div class="header">Welcome to ProXent</div>

	<hr />

  <div class="title">Before entering this new world, you can adjust your preference</div>

  <div>
    <div class="title">Game difficulty</div>
    <div class="settings-difficulty">
      <button [class.selected]="selectedDifficulty === difficulty" class="btn preset" (click)="setDifficulty(difficulty)" *ngFor="let difficulty of difficultyPreset">{{ difficulty }}</button>
    </div>
  </div>

  <div>
    <div class="title">Your girlfriend</div>
    <div class="center">Choose wisely, your girlfriend won't compete for rewards and battles</div>
    <div class="girls-wrapper">
      <div class="scroller">
        <div [class.selected]="girlfriend.fullId === girl.fullId" (click)="selectGirlfriend(girl)" class="girl" *ngFor="let girl of girls">
          <img [src]="getPortrait(girl)" alt="" class="portrait">
          <div class="name">{{ girl.name | titlecase }}</div>
          <div class="multipliers">
            <div class="multiplier" *ngFor="let multiplier of getMultipliers(girl)">
              <div>{{multiplier.percent}}%</div>
              <ng-container *ngIf="multiplier.stat !== 'pts'">
                <img [src]="'./assets/' + multiplier.stat + '.png'" alt="" srcset="">
              </ng-container>
              <ng-container *ngIf="multiplier.stat === 'pts'">{{multiplier.stat}}</ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="btn" (click)="cancel()">Cancel</button>
    <button [disabled]="girlfriend.name === ''" class="btn" (click)="startGame()">Start a new game!</button>
  </div>

</div>
