<app-background class="background"></app-background>

<div class="header">Corruption</div>

<div class="wrapper">
	<ng-container *ngIf="!corrupting">

		<div>
			<img [src]="portrait" />
		</div>

		<div>
			<div *ngIf="!canCorrupt()" class="error">{{ reasonCorruptDisabled }}</div>
			<button [disabled]="!canCorrupt()" (click)="doCorrupt()" class="btn">
				Corrupt her
			</button>
			<div class="price">
				<div class="with-icon">
					<div>{{ price | number : '1.0-0' }}</div>
					<div>
						<img src="./assets/golds.png" width="30" alt="" srcset="" />
					</div>
				</div>

				<div class="with-icon" *ngIf="itemsRequired.quantity > 0">
					<div>{{ itemsRequired.quantity }}</div>
					<div>
						<img
							width="30"
							[src]="
								'./assets/items/' +
								(itemsRequired.itemName | lowercase) +
								'.png'
							"
						/>
					</div>
				</div>
			</div>
			<button (click)="exit()" class="btn">
				Back to girls
			</button>
		</div>
	</ng-container>

	<ng-container *ngIf="corrupting">

		<div class="positions">
			<div class="positions-wrapper">
				<div
					*ngFor="let position of newPositions"
					(click)="selectPosition(position)"
					[class.selected]="selectedPosition.name === position.name"
					[class.disabled]="!positionRequirementsMet(position)"
					class="btn has-tooltip"
				>
					{{ position.label }}
					<span class="badge-btn">{{
						position.corruption
					}}</span>

					<ng-container *ngIf="positionRequirementsMet(position)">
						<ng-container
							*ngTemplateOutlet="
								tooltip;
								context: { positiondef: getPositionDef(position.name) }
							"
						></ng-container>
					</ng-container>
					<ng-container *ngIf="!positionRequirementsMet(position)">
						<div class="tooltip">Corruption level too low!</div>
					</ng-container>
				</div>
			</div>
		</div>

		<video
			controls
			autoplay
			muted
			loop
			id="video-position"
			class="video-background"
		>
			<source [src]="corrupt" type="video/mp4" />
		</video>

		<div>
			<button (click)="endCorrupt()" class="btn">
				Finish corrupting
			</button>
		</div>
	</ng-container>
</div>

<ng-template #tooltip let-position="positiondef">
	<div class="tooltip">
		<div class="tooltip-wrapper">
      <div [class.red]="position.boner < 0" [class.green]="position.boner > 0" class="with-icon">
        {{ position.boner }} <img src="./assets/stamina.png" />
      </div>
      <div class="green with-icon">
        +{{ position.getXp(1) | number : '1.0-0' }} <img src="./assets/experience.png" />
      </div>
      <div class="green with-icon">
        +{{ position.getGold(1) | number : '1.0-0' }} <img src="./assets/golds.png" />
      </div>
      <div class="green with-icon">
        +{{ position.getFans(1) | number : '1.0-0' }} <img src="./assets/fans.png" />
      </div>
      <div class="green with-icon">
        +{{ position.getOrgasm(100, 1) }} <img src="./assets/items/cum.png" />
      </div>
		</div>
	</div>
</ng-template>
