@import '../../_screensize.scss';
.wrapper {
	position: fixed;
	z-index: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
  color: white;

	div {
		text-align: center;
	}
}

video {
	position: absolute;
	z-index: -1;
	object-fit: cover;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img {
	max-height: calc(100vh - 450px);
}

.header {
	position: fixed;
	top: 15px;
	color: white;
	left: 2vw;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 35px;
	opacity: 0.8;
	border-bottom: 1px solid;

  @media screen and (max-width: $medium-desktop) {
    font-size: 25px;
  }
}

.positions {
	max-width: 80%;

	.positions-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 14px;
	}
}

.price {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	gap: 13px;
}
