<div class="wrapper">

  <div class="league">{{ league.name }}</div>

	<div class="with-icon">
		<div>{{ golds | number : '1.0-0' }}</div>
		<div><img src="./assets/golds.png" width="30" alt="" srcset="" /></div>
	</div>

	<div>
		{{ day | number : '2.0-0' }}/{{ month | number : '2.0-0' }}/{{ 2022 + year }}
	</div>

	<div class="badge-wrapper">
		<div class="badge" *ngFor="let badge of badges" [class.owned]="hasBadge(badge)">
			{{ badgeQuantity(badge) }}<img [src]="'./assets/items/' + badge + '_badge.png'" />
		</div>
	</div>

  <div class="cum">
			{{ itemQuantity('cum') }}<img [src]="'./assets/items/cum.png'" />
  </div>

  <div class="last-save" (click)="saveGame()" [class.not-saved]="secondsSave > 5"><img src="./assets/save.png" /></div>
</div>
