.header {
	position: fixed;
	top: 15px;
	color: white;
	left: 2vw;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 35px;
	opacity: 0.8;
	border-bottom: 1px solid;

  @media screen and (max-width: 1280px) {
    font-size: 25px;
  }
}

.wrapper {
  position: fixed;
  top: 70px;
  height: calc(100vh - 155px);
  width: 100vw;
  display: flex;
  gap: 30px;
  overflow-y: auto;
  padding: 15px;
  box-sizing: border-box;
  color: white;
  justify-content: center;

  .available {
    width: 600px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7.5px;
  }

  .picked {
    width: 500px;

    .item {
      grid-template-columns: auto 75px 100px 100px 100px 80px;
    }
  }

  .item {
    display: grid;
    grid-template-columns: auto 75px 100px 100px 100px 80px 100px;
    text-align: center;
    border: 1px solid;
    padding: 5px;
    text-transform: capitalize;
    background: rgba(0,0,0,0.4);

    .reward {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;

      .reward-item {
        height: 20px;
        margin-left: -2px;
      }
    }
  }
}
