.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 30px;
  position: fixed;
  top: 0;
  width: 100vw;

  & > .btn {
    width: 150px;
    text-align: center;
    box-sizing: border-box;
  }
}
