<div class="wrapper">
  <div class="deck">

    <div class="card" [class.type]="photo.attributes.type" [class.locked]="isLocked(photo)" *ngFor="let photo of photos">
      <img [src]="photo.url" alt="" class="background">

      <div class="attributes">
        <div class="attribute">
          <div class="name">Lewdness</div>
          <div class="value">{{ photo.attributes.type }}</div>
        </div>
        <div class="attribute">
          <div class="name">Place</div>
          <div class="value">{{ photo.attributes.place }}</div>
        </div>
        <div class="attribute">
          <div class="name">Outfit</div>
          <div class="value">{{ photo.attributes.outfit }}</div>
        </div>
        <div class="attribute">
          <div class="name">Body</div>
          <div class="value">{{ photo.attributes.body.join(', ') }}</div>
        </div>
        <div class="attribute">
          <div class="name">Format</div>
          <div class="value">{{ photo.attributes.format }}</div>
        </div>
      </div>

      <div class="rewards">
        <div class="golds">{{ photo.golds }}<img src="./assets/golds.png" /></div>
        <div class="fans">{{ photo.fans }}<img src="./assets/fans.png" /></div>
      </div>

      <div class="tooltip with-icon" *ngIf="isLocked(photo)">{{ photo.price }}<img src="./assets/golds.png" /></div>
    </div>

  </div>

  <div class="customer-request"></div>
</div>
