<div class="overlay" *ngIf="!started" (click)="startShoot()">
	<a class="btn">Start shooting</a>
</div>

<div *ngIf="started">
	<div class="photo">
		<img [src]="photos[indexPhoto]" alt="" />

		<svg [style.opacity]="1 - score / 100" xmlns="http://www.w3.org/2000/svg">
			<filter id="noiseFilter">
				<feTurbulence
					type="fractalNoise"
					baseFrequency="0.85"
					numOctaves="3"
					stitchTiles="stitch"
				/>
			</filter>

			<rect width="100%" height="100%" filter="url(#noiseFilter)" />
		</svg>
	</div>

	<a class="btn shooter" (click)="shoot()">Take picture!</a>
</div>
