.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;

	.right-panel {
		width: 350px;
		text-align: center;
	}

	.left-panel {
		display: grid;
		width: 600px;

		.result {
			color: white;
			font-weight: bold;
			font-size: 50px;
			border-bottom: 2px solid red;
		}

		.record-name {
			color: white;
			font-weight: bold;
			font-size: 35px;
		}

		.stats-table {
			width: 85%;
			justify-self: end;
			margin: 15px 0;

			.row {
				background: rgba(0, 0, 0, 0.5);
				margin: 15px 0;
				padding: 7.5px 15px;
				display: flex;
				justify-content: space-between;

				& > div {
					color: white;
					font-size: 30px;
				}
			}
		}

		.total-score {
			background: rgba(0, 0, 0, 0.5);
			margin: 15px 0;
			padding: 7.5px 15px;
			display: flex;
			justify-content: space-between;
      position: relative;

			& > div {
				color: white;
				font-size: 40px;
			}

      .girl-freedom-reduction {
        position: absolute;
        font-size: 13px;
        font-weight: bold;
        right: 15px;
        bottom: 0;
        color: red;
      }
		}
	}
}

video {
	position: absolute;
	z-index: -1;
	object-fit: cover;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.glow {
	font-size: 370px;
	color: #fff;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
			0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
			0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}
