<img class="img-hidden" src="./assets/mods/legacy/tester.png" (error)="mediasNotExit()">

<div class="notifications-wrapper">
  <app-contract-notifier [contractNotification]="contractNotification" *ngFor="let contractNotification of contractNotifications"></app-contract-notifier>
</div>

<ng-container *ngIf="ready">
	<app-dialogs></app-dialogs>
	<router-outlet></router-outlet>

  <div
    [class.animate__slideInDown]="!gamePaused"
    [class.animate__slideOutUp]="gamePaused"
    class="animate__animated ui top">
    <app-status></app-status>
  </div>

  <div
    [class.animate__slideInUp]="!gamePaused"
    [class.animate__slideOutDown]="gamePaused"
    class="animate__animated ui bottom">
	  <app-navigation></app-navigation>
  </div>
	<app-reward></app-reward>

	<app-new-record></app-new-record>
	<app-ceremony></app-ceremony>

	<div class="version">
		Proxent v{{version}}
	</div>
</ng-container>

<ng-container *ngIf="!ready">
  <app-background class="background"></app-background>

	<div class="wrapper">
		<img src="./assets/logo.png" alt="" srcset="" />
		<div>Loading game stuff, please wait</div>
		<div class="bar">
			<div class="progress" [style.width]="loadProgress + '%'"></div>
		</div>
	</div>
</ng-container>
