<img class="img-hidden" src="./assets/medias/tester.png" (error)="mediasNotExit()">

<ng-container *ngIf="ready">
	<app-dialogs></app-dialogs>
	<router-outlet></router-outlet>

  <div
    [class.animate__slideInDown]="!gamePaused"
    [class.animate__slideOutUp]="gamePaused"
    class="animate__animated ui">
    <app-status></app-status>
  </div>

  <div
    [class.animate__slideInUp]="!gamePaused"
    [class.animate__slideOutDown]="gamePaused"
    class="animate__animated ui">
	  <app-navigation></app-navigation>
  </div>
	<app-reward></app-reward>

	<app-new-record></app-new-record>
	<app-ceremony></app-ceremony>

	<div class="version">
		Proxent - {{version}} / Contact me at: proxentgame@gmail.com / Looking for
		help/contibutors!
	</div>
</ng-container>

<ng-container *ngIf="!ready">
  <app-background class="background"></app-background>

	<div class="wrapper">
		<img src="./assets/logo.png" alt="" srcset="" />
		<div>Loading medias, please wait</div>
		<div class="bar">
			<div class="progress" [style.width]="loadProgress + '%'"></div>
		</div>
	</div>
</ng-container>
