<div id="scroller" (wheel)="onWheel($event)" class="scrollview">
	<div class="wrapper">
		<div
			id="girl-{{ girl.fullId }}"
			class="girl"
			[class.selected]="selectedGirl.fullId === girl.fullId"
			*ngFor="let girl of allGirls"
		>
			<div
				class="girl-wrapper"
				[class.locked]="isLocked(girl)"
				[class.unlockable]="canAfford(girl)"
				(click)="selectGirl(girl)"
			>
        <div class="multipliers">
          <div class="multiplier" *ngFor="let multiplier of getMultipliers(girl)">
            <div>{{multiplier.percent}}%</div>
            <ng-container *ngIf="multiplier.stat !== 'pts'">
              <img [src]="'./assets/' + multiplier.stat + '.png'" alt="" srcset="">
            </ng-container>
            <ng-container *ngIf="multiplier.stat === 'pts'">{{multiplier.stat}}</ng-container>
          </div>
        </div>
				<div class="clickagain" *ngIf="clickAgain === girl.fullId">
					Click again to unlock {{ girl.name }}
				</div>

				<div
					class="unlock-price"
					*ngIf="isLocked(girl) && girl.unlockPrice.length > 0"
				>
          <ng-container *ngIf="girlLimitReached">
            Girl limit reached!
          </ng-container>
          <ng-container *ngIf="!girlLimitReached">
            <div
              class="red with-icon"
              *ngFor="let unlockPrice of girl.unlockPrice"
            >
              {{ getPrice(unlockPrice) | number : '1.0-0' }}<img [src]="'./assets/items/' + unlockPrice.type + '.png'" />
            </div>
          </ng-container>
				</div>

				<div class="portrait-wrapper">
					<img class="portrait" [src]="getPortrait(girl)" />
				</div>
			</div>
		</div>
	</div>
</div>
