<div class="best-wrapper">
	<div class="best-record">
		<div class="header">Best Record</div>
		<div class="infos">
			<div class="name">{{ bestRecord.name }}</div>
			<div class="subname">{{ bestRecord.girl.name }}</div>
		</div>
		<div class="value">{{ bestRecord.score | number : '1.0-0' }} pts</div>
	</div>
	<div class="best-actress">
		<div class="header">Best Actress</div>
		<div class="infos">
			<div class="name">{{ bestActress.girl.name }}</div>
			<div class="subname">
				{{ bestActress.girl.fans | number : '1.0-0'
				}}<img src="./assets/fans.png" />
			</div>
		</div>
		<div class="value">
			{{ bestActress.earnings | number : '1.0-0'
			}}<img src="./assets/golds.png" />
		</div>
	</div>
</div>

<div class="records-wrapper">
	<div class="header">Last Records</div>
	<div class="record">
		<div class="name">Name</div>
		<div class="actress">Actress</div>
		<div class="score">Score</div>
		<div class="golds">Earnings</div>
		<div class="fans">Fans</div>
	</div>
	<div class="record" *ngFor="let record of records">
		<div class="name">{{ record.name }}</div>
		<div class="actress">{{ record.girl.name }}</div>
		<div class="score">{{ record.score | number : '1.0-0' }}</div>
		<div class="golds">
			{{ record.money | number : '1.0-0' }}<img src="./assets/golds.png" />
		</div>
		<div class="fans">
			{{ record.fans | number : '1.0-0' }}<img src="./assets/fans.png" />
		</div>
	</div>
</div>
