.wrapper {
  border: 2px solid red;
  border-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    inset 0px 1px 0px 0px #f29c93;
  background: rgb(98, 9, 9);
  color: white;
  padding: 7.5px;
  text-align: center;
  margin-bottom: 15px;

  .title {
    font-size: 25px;
    font-weight: bold;
  }

  .reward {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    .reward-item {
      height: 20px;
      margin-left: -2px;
    }
  }
}
