<div class="wrapper">
  <img src="./assets/vs-background.jpg" alt="" class="background">

  <div class="player">
    <div class="header">Player Studio</div>
    <div class="positions">
      <div class="position" [class.selected]="index === indexBattle" *ngFor="let setup of battleSetup;let index = index">
        <div class="girl">{{ setup.girl.name }} - {{ setup.position.name }}</div>
        <div class="score">{{ scorePositions[index] ? scorePositions[index] : 0 }}</div>
      </div>
    </div>
  </div>

  <div class="leader">
    <div class="header">{{ leader.name }}</div>
    <div class="score">Target: {{ metaScore }}</div>
    <div class="meta">
      <div class="bar">
        <div class="progress" [style.width]="((score / metaScore) * 100) + '%'"></div>
      </div>
      <div class="icon">
        <img src="./assets/star.png" alt="">
      </div>
    </div>
  </div>
</div>

<app-leader-battle-girls (battleSetup)="initBattle($event)"></app-leader-battle-girls>

<div class="video-wrapper">
  <video id="video-record" controls muted class="video-battle">
    <source [src]="recordUrl" type="video/mp4" />
  </video>
</div>
