<div class="wrapper">
  <img src="./assets/vs-background.jpg" alt="" class="background-battle">
</div>

<app-record [toBattle]="toBattle" [isBattle]="true" [metaScore]="metaScore" [metaCum]="metaCum" (recordResults)="recordResults($event)"></app-record>

<div class="modal" [class.show]="show">
	<div class="modal-header">Battle completed, let's check this out</div>

	<hr />

  <div class="results">
    <div class="title">Recording results</div>
    <div>
      <div [class.red]="!metaScoreDone" [class.green]="metaScoreDone">{{ resultScore | number: '1.0-0' }}/{{ metaScore | number: '1.0-0' }}pts</div>
      <div [class.red]="!metaCumDone" [class.green]="metaCumDone" class="with-icon">{{ resultCum | number: '1.0-0' }}/{{ metaCum | number: '1.0-0' }}<img src="./assets/items/cum.png" /></div>
    </div>
  </div>

  <div class="battle-results center with-icon">
    <ng-container *ngIf="metaCumDone && metaScoreDone">
      <div class="title">Rewards</div>
      <div class="rewards" *ngIf="isLeader()">
        <div class="reward" *ngFor="let reward of getRewards()">
          <div class="quantity">+{{ reward.quantity | number : '1.0-0' }}</div>
          <div class="value">
            <ng-container *ngIf="reward.type === 'extension'">girl capacity</ng-container>
            <ng-container *ngIf="reward.type !== 'extension'">
              <img class="reward-item" src="./assets/items/{{reward.type}}.png" alt="">
            </ng-container>
          </div>
        </div>
      </div>
      <div *ngIf="!isLeader() && hasNewLeague()">
        League level improved!
      </div>
      <div *ngIf="!isLeader() && !hasNewLeague()">
        Congratulations! You are now the ultimate ProXent Master!
      </div>
    </ng-container>
    <ng-container *ngIf="!metaCumDone || !metaScoreDone">
      You didn't beat leader, train harder and come back!
    </ng-container>
  </div>

	<div class="center">
		<a (click)="endBattle()" class="btn">Close</a>
	</div>
</div>
