@import '../../_screensize.scss';
.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .background-battle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100vh + 400px);
  }
}

.modal {
	position: fixed;
	top: -100%;
	transform: translate(-50%, -50%);
	left: 50%;
	border: 1px solid #242424;
	background: white;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	padding: 15px 45px 45px;
	transition: top 0.2s;
  width: max-content;

	&.show {
		top: 50%;
		z-index: 1;
	}

	.modal-header {
		font-weight: bold;
		font-size: 25px;
		text-align: center;
		margin-bottom: 15px;
	}

	.center {
		display: flex;
		justify-content: center;
	}
}

.rewards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  text-align: center;

  .title {
    width: 100%;
    font-weight: bold;
    margin-bottom: 15px;
  }

  img {
    height: 30px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
