<div class="wrapper">
  <img src="./assets/vs-background.jpg" alt="" class="background-battle">
</div>

<app-record [leader]="leader" [isBattle]="true" (recordResults)="recordResults($event)"></app-record>

<div class="modal" [class.show]="show">
	<div class="modal-header">Battle completed, let's check this out</div>

	<hr />

  <div class="rewards">
    <div class="title">Recording results</div>
    <div>
      <div [class.red]="!metaScoreDone" [class.green]="metaScoreDone">{{ resultScore | number: '1.0-0' }}/{{ metaScore | number: '1.0-0' }}pts</div>
      <div [class.red]="!metaCumDone" [class.green]="metaCumDone" class="with-icon">{{ resultCum | number: '1.0-0' }}/{{ metaCum | number: '1.0-0' }}<img src="./assets/items/cum.png" /></div>
    </div>
  </div>

  <div class="center">{{ rewardText }}</div>

	<div class="center">
		<a (click)="endBattle()" class="btn">Close</a>
	</div>
</div>
