.modal {
	position: fixed;
	top: -100%;
	transform: translate(-50%, -50%);
	left: 50%;
	border: 1px solid #242424;
	background: white;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	padding: 15px 45px 45px;
	transition: top 0.2s;

	&.show {
		top: 50%;
		z-index: 1;
	}

	.header {
		font-weight: bold;
		font-size: 35px;
		text-align: center;
		margin-bottom: 15px;
	}

	.wrapper {
		display: flex;
		gap: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;
	}
}

.setup {
  width: 150px;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  text-align: center;

  .step {
    color: #ec0100;
    margin-bottom: 4px;
    font-weight: bold;
  }

  &.locked:after {
    background: grey;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    content: '';
  }

  .girls-wrapper {
    width: 100%;
    height: 200px;
    overflow-x: auto;

    .track {
      width: fit-content;
      height: 100%;
      display: flex;
    }

    .girl {
      width: 100%;
      height: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border-radius: 5px;

      .portrait {
        object-fit: contain;
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .overlay {
        z-index: 1;
        position: relative;
        background: rgba(0,0,0,0.4);
        height: 100%;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        transition: .2s;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .girl-selected {
    width: 70px;
    height: 100px;
    margin: 15px auto;
    border-radius: 100%;
    overflow: hidden;
    position: relative;

    .portrait {
      object-fit: contain;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }

  .positions-wrapper {
    height: 100px;
    overflow-y: auto;

    .btn {
      display: block;
      width: 100%;
      margin: 2px 0;
      color: #ec0100;
      background: white;
      text-shadow: none;

      &.selected {
        color: white;
        background: #ec0100;
      }
    }
  }

  .confirm-setup {
    margin-top: 15px;
  }
}
