<div class="modal" [class.show]="show">
	<div class="header">Build up your team</div>

	<hr />

	<div class="wrapper">

    <div class="setup" *ngFor="let index of [0,1,2,3,4]" [class.locked]="setup.length !== index">

      <div class="step" *ngIf="selectedGirl === undefined">1. Choose a girl</div>
      <div class="girls-wrapper" *ngIf="selectedGirl === undefined">
        <div class="track">
          <div (click)="chooseGirl(girl)" class="girl" *ngFor="let girl of girls">
            <img class="portrait" [src]="getPortrait(girl)" />
            <div class="overlay">Choose this girl</div>
          </div>
        </div>
      </div>
      <div class="girl-selected" *ngIf="selectedGirl">
        <img class="portrait" [src]="getPortrait(selectedGirl)" />
      </div>
      <ng-container *ngIf="selectedGirl">
        <button (click)="unselectGirl()" class="btn">Change girl</button>
      </ng-container>

      <div class="step" *ngIf="selectedGirl !== undefined">2. Choose a position</div>
      <div class="positions-wrapper" *ngIf="selectedGirl !== undefined && positions.length > 0">
        <button
          (click)="selectedPosition = position"
          class="btn"
          [class.selected]="selectedPosition === position"
          *ngFor="let position of positions">{{ position.name }}</button>
      </div>

      <button (click)="lockSetup()" class="btn confirm-setup" [disabled]="selectedGirl === undefined || selectedPosition === undefined">Confirm</button>

    </div>

  </div>
</div>
