.modal {
	position: fixed;
	top: -100%;
	transform: translate(-50%, -50%);
	left: 50%;
	border: 1px solid #242424;
	background: white;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	padding: 15px 45px 45px;
	transition: top 0.2s;

	&.show {
		top: 50%;
		z-index: 1;
	}

	.reward-header {
		font-weight: bold;
		font-size: 35px;
		text-align: center;
		margin-bottom: 15px;
	}

	.rewards-wrapper {
		display: flex;
		gap: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;

		* {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.center {
		display: flex;
		justify-content: center;
	}

	.levelup-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;

		.header {
			font-weight: bold;
			margin-bottom: 15px;
		}

		video {
			max-height: 340px;
		}
	}
}

.striked {
	text-decoration: line-through;
	color: red;
}

.hardcap.center {
	margin-bottom: 15px;
	font-size: 20px;
	text-align: center;
	color: red;
}

.items-wrapper {
	width: 600px;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	flex-wrap: wrap;

	.item {
		text-align: center;
		width: 45px;
		height: 45px;
		position: relative;
		border: 2px solid #242424;
		border-radius: 5px;

		img {
			width: 100%;
		}

		&:hover .tooltip {
			opacity: 1;
			top: -25px;
			z-index: 15;
		}

		.tooltip {
			position: absolute;
			background: #242424;
			color: white;
			padding: 2px 5px;
			border-radius: 5px;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;
			z-index: -1;
			transition: 0.2s;
		}

		.quantity {
			position: absolute;
			bottom: -10px;
			right: -10px;
			background: white;
			border: 1px solid #242424;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			font-size: 14px;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
