<div class="modal" [class.show]="show">
	<div class="reward-header">Congratulations! You earned a great reward!</div>

	<hr />

  <div class="red center" *ngIf="reward.girl.freedom > 0.1 && items.length > 0">
    Rewards have been reduced by {{ (reward.girl.freedom * 100) | number : '1.0-0' }}% due to girl independency!
  </div>

	<div class="rewards-wrapper">
		<span
			[class.striked]="reward.hardCapCorruption || reward.hardCapLeague"
			*ngIf="reward.xp > 0"
			class="with-icon"
			><b
				>+ {{ reward.xp | number : '1.0-0' }}
				<img src="./assets/experience.png" width="30" alt="" srcset="" /></b
		></span>
		<span *ngIf="reward.money > 0" class="with-icon"
			><b
				>+ {{ reward.money | number : '1.0-0' }}
				<img src="./assets/golds.png" width="30" alt="" srcset="" /></b
		></span>
		<span *ngIf="reward.corruption > 0"
			><b>+ {{ reward.corruption | number : '1.0-0' }} corruption</b></span
		>
		<span *ngIf="reward.fans > 0" class="with-icon"
			><b
				>+ {{ reward.fans | number : '1.0-0' }}
				<img src="./assets/fans.png" width="30" alt="" srcset="" /></b
		></span>
	</div>

	<div class="items-wrapper">
		<div *ngFor="let item of items" class="item">
			<span class="tooltip">{{ item[0] }}</span>
			<img [src]="'./assets/items/' + (item[0] | lowercase) + '.png'" />
			<span class="quantity">{{ item[1].length | number : '1.0-0' }}</span>
		</div>
	</div>

	<div class="hardcap center" *ngIf="reward.hardCapCorruption && reward.corruption === 0">
		You hit the max level for actual corruption of {{ reward.girl.name }}! You
		should train her to progress further!
	</div>

	<div class="hardcap center" *ngIf="reward.hardCapLeague">
		You hit the max level for your league level. You should battle and beat the league's master to advance further!
	</div>

	<div class="levelup-wrapper" *ngIf="reward.levelup">
		<div class="header">
			{{ reward.girl.name }}'s level has changed! She is now lvl
			{{ reward.girl.level | number : '1.0-0' }}
		</div>
	</div>

	<div class="levelup-wrapper" *ngIf="reward.gainedSkillPoint !== 0">
		<div class="header">
			{{ reward.gainedSkillPoint > 0 ? '+' : '' }}{{ reward.gainedSkillPoint }} skill point for {{ reward.girl.name }}!
		</div>
	</div>

  <div class="center" *ngIf="reward.msg">{{ reward.msg }}</div>

	<div class="center">
		<a (click)="close()" class="btn">Close</a>
	</div>
</div>
