.wrapper {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
  padding: 7.5px 45px;

	border-radius: 45px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	display: flex;
	align-items: center;
	gap: 30px;

	background: rgba(255,255,255,0.8);

	a {
		font-size: 19px;
		color: #ce0100;
		text-decoration: none;
	}
}

.disabled {
  opacity: 0.5;
}
