<div class="wrapper">
  <div [class.disabled]="fapMode === false" (click)="toggleFapMode()" class="with-icon has-tooltip">
    <div><img src="./assets/fap.png" width="30" alt="" srcset="" /></div>
    <div class="tooltip">
      Fap Mode: {{ fapMode ? 'true' : 'false' }}
    </div>
  </div>

	<a [routerLink]="'girls'">Girls</a>

	<a *ngIf="studioUnlocked" [routerLink]="'studio'">Studio</a>
	<a class="disabled" *ngIf="!studioUnlocked">Studio</a>

	<a [routerLink]="'inventory'">Inventory</a>
	<a *ngIf="studioUnlocked" [routerLink]="'battle'">Battle</a>
	<a [routerLink]="'contracts'">Contracts</a>
	<a [routerLink]="'settings'">Settings</a>
	<a href="#" (click)="goToMenu()">Menu</a>
	<a href="https://patreon.com/ProXent" target="_blank"><img src="./assets/support-patreon.png" width="150" /></a>
</div>
