// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$proxent-primary: mat.define-palette(mat.$red-palette);
$proxent-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$proxent-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$proxent-theme: mat.define-light-theme((
  color: (
    primary: $proxent-primary,
    accent: $proxent-accent,
    warn: $proxent-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($proxent-theme);

.mdc-slider .mdc-slider__value-indicator-container {
  bottom: -18px !important;
}

html {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
	margin: 0;
	background: white;
	font-family: 'Roboto', sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.background {
	position: fixed;
	z-index: -1;
	width: 100%;
}

.error {
	color: #e51b22;
}

.with-icon img {
	padding: 4px;
	box-sizing: border-box;
	vertical-align: middle;
}

.btn {
	border-radius: 6px;
	box-shadow: inset 0px 1px 0px 0px #f29c93;
	background: linear-gradient(to bottom, #e51b22 5%, #ce0100 100%);
	background-color: #e51b22;
	border: 1px solid #d83526;
	text-shadow: 0px 1px 0px #b23e35;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	position: relative;

	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	.badge-btn {
		position: absolute;
		top: 0px;
		right: 2px;
		font-size: 9px;
	}

	&:hover {
		background: linear-gradient(to bottom, #ce0100 5%, #e51b22 100%);
		background-color: #ce0100;
	}

  &.special {
    box-shadow: inset 0px 1px 0px 0px #ac93f2;
    background: linear-gradient(to bottom, #731be5 5%, #5900ce 100%);
    background-color: #731be5;
    border: 1px solid #9126d8;
    text-shadow: 0px 1px 0px #8635b2;

    &:hover{
      background: linear-gradient(to bottom, #5900ce 5%, #731be5 100%);
      background-color: #5900ce;
    }
  }

  &.preset {
    box-shadow: inset 0px 1px 0px 0px #939cf2;
    background: linear-gradient(to bottom, #1e1be5 5%, #0003ce 100%);
    background-color: #1e1be5;
    border: 1px solid #2635d8;
    text-shadow: 0px 1px 0px #3539b2;

    &:hover{
      background: linear-gradient(to bottom, #0003ce 5%, #1e1be5 100%);
      background-color: #0003ce;
    }

    &.selected {
      background: white;
      border-color: #0003ce;
      color: #0003ce;
    }
  }

	&.trending {
		box-shadow: inset 0px 1px 0px 0px #f9eca0;
		background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
		background-color: #f0c911;
		border: 1px solid #d99714;
		animation: glow-trend 1.5s infinite;

		&:hover {
			background: linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
			background-color: #f2ab1e;
		}
	}
}

.has-tooltip {
  position: relative;
  cursor: pointer !important;

  &:hover .tooltip {
		opacity: 1;
		bottom: 33px;
		transform: translateX(-50%) scale(1);
		z-index: 15;
		transition: 0.2s;
	}

	.tooltip {
    width: max-content;
    max-width: 100px;
		position: absolute;
		background: #242424;
		color: white;
		padding: 2px 5px;
		border-radius: 5px;
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%) scale(0.3);
		opacity: 0;
		z-index: -1;
		transition: 0.05s;

		.tooltip-wrapper {
			display: flex;
			flex-direction: column;

			div {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			img {
				width: 30px;
			}
		}
	}
}

.btn:active {
	position: relative;
	top: 1px;
}
.btn:disabled {
	cursor: not-allowed;
	background: linear-gradient(to bottom, #e1484d 5%, #e67878 100%);
	background-color: #d4989a;

  &.special {
    background: linear-gradient(to bottom, #8f48e1 5%, #9478e6 100%);
    background-color: #b498d4;
  }
}

.disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.no-select {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.red {
	color: #e51b22 !important;
}

.green {
	color: #1be528;
}

.purple {
	color: #9b1be5;
}

@keyframes glow-trend {
	0% {
		text-shadow: #f9eca0 0 0 10px;
		box-shadow: 0px 0px 20px 10px #f9eca0;
	}
	50% {
		text-shadow: #f0c911 0 0 10px;
		box-shadow: 0px 0px 20px 10px #f0c911;
	}
	75% {
		text-shadow: #f2ab1e 0 0 10px;
		box-shadow: 0px 0px 20px 10px #f2ab1e;
	}
	100% {
		text-shadow: #f9eca0 0 0 10px;
		box-shadow: 0px 0px 20px 10px #f9eca0;
	}
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
