<app-background class="background"></app-background>

<div class="header">
  Leaders
  <div class="tutorial" (click)="startTutorial()">
    <img src="./assets/tutorial.png">
    <span>Tutorial</span>
  </div>
</div>

<div class="wrapper">

  <div class="leaders-wrapper">
    <div class="leader" *ngFor="let leader of leaders">
      <div class="header-leader">
        {{ leader.name | titlecase }}
        <div class="subtitle">
          <i>{{ leader.description }}</i><br/>
          <div class="center with-icon leader-rewards">
            <div>Rewards:</div>
            <div class="reward" *ngFor="let reward of leader.rewards">
              <div class="quantity">+{{ reward.quantity | number : '1.0-0' }}</div>
              <div class="value">
                <ng-container *ngIf="reward.type === 'extension'">
                  <div>Girl capacity</div>
                </ng-container>
                <ng-container *ngIf="reward.type !== 'extension'">
                  <img class="reward-item" src="./assets/items/{{reward.type}}.png" alt="">
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bonus-malus">
        <div class="bonus green">
          <div class="header-perk">Bonus</div>
          <span class="has-tooltip" *ngFor="let bonus of leader.bonus">
            {{ bonus | titlecase }}
            <div class="tooltip">
              <div class="tooltip-wrapper">
                <div>{{ getGirlWithAttribute(bonus) }}</div>
              </div>
            </div>
          </span>
        </div>
        <div class="malus red">
          <div class="header-perk">Malus</div>
          <span class="has-tooltip" *ngFor="let malus of leader.malus">
            {{ malus | titlecase }}
            <div class="tooltip">
              <div class="tooltip-wrapper">
                <div>{{ getGirlWithAttribute(malus) }}</div>
              </div>
            </div>
          </span>
        </div>
        <div class="fetish purple">
          <div class="header-perk">Fetish</div>
          <span class="has-tooltip" *ngFor="let fetish of leader.fetish">
            {{ fetish | titlecase }}
            <div class="tooltip">
              <div class="tooltip-wrapper">
                <div class="girls-positions">{{ getGirlWithPosition(fetish) }}</div>
              </div>
            </div>
          </span>
        </div>
      </div>

      <div class="lvl">{{ leader.lvl }}</div>
      <div class="actions">
        <button
          [disabled]="!canBattle(leader)"
          (click)="battle(leader)"
          class="btn has-tooltip"
        >
          Battle!
          <div class="tooltip">
            <div class="tooltip-wrapper">
              <div class="cost">
                <div class="red with-icon" *ngIf="leader.costItem === 'gold'">
                  -{{ leader.costCurve(leader.lvl) | number : '1.0-0' }}<img src="./assets/golds.png" />
                </div>
                <div class="red with-icon" *ngIf="leader.costItem !== 'gold'">
                  -{{ leader.costCurve(leader.lvl) | number : '1.0-0' }}<img [src]="'./assets/items/' + leader.costItem + '.png'" />
                </div>
              </div>

              <div class="score">
                <div class="score-header">To beat</div>
                <div>{{ getMetaScore(leader) | number : '1.0-0' }}pts</div>
                <div class="with-icon">{{ getMetaCum(leader) | number : '1.0-0' }}<img src="./assets/items/cum.png" /></div>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>

</div>
