<app-background></app-background>

<div class="header">Settings</div>

<div class="wrapper">

  <div class="settings-wrapper">

    <div class="settings-list">
      <div class="title">
        Costs
      </div>

      <div class="setting-multiplier" *ngFor="let setting of costs">
        <div class="name">{{ setting.label }}</div>
        <mat-slider min="0" max="300" step="0.5" discrete="true">
          <input matSliderThumb [value]="setting.value" (valueChange)="setting.value = $event">
        </mat-slider>

        <div class="values">
          <input matInput type="number" required [(ngModel)]="setting.value" />%
        </div>

      </div>
    </div>

    <div class="settings-list">
      <div class="title">
        Rewards
      </div>

      <div class="setting-multiplier" *ngFor="let setting of rewards">
        <div class="name">{{ setting.label }}</div>
        <mat-slider min="0" max="5000" step="0.5" discrete="true">
          <input matSliderThumb [value]="setting.value" (valueChange)="setting.value = $event">
        </mat-slider>

        <div class="values">
          <input matInput type="number" required [(ngModel)]="setting.value" />%
        </div>

      </div>
    </div>

  </div>

  <div class="actions">
    <div class="settings-preset">
      <button class="btn preset" (click)="setDifficulty(difficulty)" *ngFor="let difficulty of difficultyPreset">{{ difficulty }}</button>
    </div>
    <button class="btn" (click)="saveAll()">Exit</button>
  </div>

</div>
